:root {
	--background-image1: url(https://images6.alphacoders.com/943/thumb-1920-943614.jpg);
	--background-image2: url(https://images6.alphacoders.com/114/thumb-1920-1142687.png);
	--background-image3: url(https://images-ext-2.discordapp.net/external/IYl-RB-XGCBrI0frWHaqVME7J3WejHkHx58JoqNwpZM/https/w.wallhaven.cc/full/k7/wallhaven-k73mmd.jpg);
	--background-image4: url(https://images.alphacoders.com/114/thumb-1920-1140163.jpg);
	--background-image5: url(https://images-ext-1.discordapp.net/external/CWaJFX98_9GIew-7rNqTklOT3rAMKnha1KtqWeElI1U/https/w.wallhaven.cc/full/ey/wallhaven-eyd118.jpg);
	--background-image6: url(https://images-ext-2.discordapp.net/external/l28lPOCVI5Lgc-dQmE5cW3lUkH6j91XzKHAYGZrgzT0/https/w.wallhaven.cc/full/j3/wallhaven-j3wrzy.jpg);
	
	--background-image-start: var(--background-image1);

}

.app-2rEoOp {
	background-color: transparent;
	background-size: cover;
	
	background-image: var(--background-image-start);
	animation: bgImageChange 3600s linear infinite forwards alternate;
}

@keyframes bgImageChange {
  0% {
    background-image: var(--background-image1, var(--background-image1));
  }
  10% {
    background-image: var(--background-image1, var(--background-image1));
  }
  11% {
    background-image: var(--background-image2, var(--background-image1));
  }
  30% {
    background-image: var(--background-image2, var(--background-image1));
  }
  31% {
    background-image: var(--background-image3, var(--background-image1));
  }
  50% {
    background-image: var(--background-image3, var(--background-image1));
  }
  51% {
    background-image: var(--background-image4, var(--background-image1));
  }
  70% {
    background-image: var(--background-image4, var(--background-image1));
  }
  71% {
    background-image: var(--background-image5, var(--background-image1));
  }
  90% {
    background-image: var(--background-image5, var(--background-image1));
  }
  91% {
    background-image: var(--background-image6, var(--background-image1));
  }
  100% {
    background-image: var(--background-image6, var(--background-image1));
  }
}
