:root {
	--image-index :1;
	
	--background-image1: url(https://w.wallhaven.cc/full/k7/wallhaven-k73mmd.jpg);
	--background-image2: url(https://w.wallhaven.cc/full/0p/wallhaven-0pr3gp.jpg);
	--background-image3: url(https://w.wallhaven.cc/full/eo/wallhaven-eoq9jr.jpg);
	--background-image4: url(https://w.wallhaven.cc/full/ey/wallhaven-eyd118.jpg);
	--background-image5: url(https://w.wallhaven.cc/full/73/wallhaven-73e2ge.png);
	--background-image6: url(https://w.wallhaven.cc/full/nr/wallhaven-nrkyl7.jpg);
	
	--background-image-start: var(--background-image1);

}

.app-2rEoOp {
	background-color: transparent;
	background-size: cover;
	
	background-image: var(--background-image-start);
	animation: bgImageChange 3600s linear infinite forwards alternate;
}

@keyframes bgImageChange {
  0% {
    background-image: var(--background-image1, var(--background-image1));
  }
  10% {
    background-image: var(--background-image1, var(--background-image1));
  }
  15% {
    background-image: var(--background-image2, var(--background-image1));
  }
  30% {
    background-image: var(--background-image2, var(--background-image1));
  }
  35% {
    background-image: var(--background-image3, var(--background-image1));
  }
  50% {
    background-image: var(--background-image3, var(--background-image1));
  }
  55% {
    background-image: var(--background-image4, var(--background-image1));
  }
  70% {
    background-image: var(--background-image4, var(--background-image1));
  }
  75% {
    background-image: var(--background-image5, var(--background-image1));
  }
  90% {
    background-image: var(--background-image5, var(--background-image1));
  }
  95% {
    background-image: var(--background-image6, var(--background-image1));
  }
  100% {
    background-image: var(--background-image6, var(--background-image1));
  }
}
